<!DOCTYPE html>
<html ng-app="store">
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../public/vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
</head>
<body ng-controller="StoreController as storeCtrl">

<div>
	<p>{{storeCtrl.boop.name}} world</p>

</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="../public/js/angular-app.js"></script>

</body>
</html>